body {
    background: url(images/032.jpg);
    background-attachment: fixed;
    margin: 0;
    position: relative;
    min-height: 97vh;
}

h1 {
    font-family: "macula-solid", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
    color:#FFF;
    text-align: center;
}

figure {
    background-color: #FFF;
    padding: 10px;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

img {
    max-width: 360px;
}

figcaption {
    font-family: 'Zeyada', cursive;
    font-size: 18px;
    text-align: center;
}


main {
    padding-bottom: 8em;
}

footer {
    background: url(images/footerbg.jpg);
    background-repeat: repeat-x;
    padding: 16px;
    filter: drop-shadow(0 0 1em rgb(0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6em;
}

.footertext {
    font-family: 'DotGothic16', sans-serif;
    color: #FFF;
    text-align: center;
}

#decoration, #textScroll {
    display: none;
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 48px;
        z-index: 2;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    img {
        max-width: fit-content;
    }

    #textScroll {
        display: contents;
        display: block;
        max-width: 30%;
        position: relative;
    }

    #textScroll:before { /* Makes background rotated w/o tilting contents */
        content: "";
        position: fixed;
        width: 110%;
        height: 110%;
        top: 10%;
        left: -70%;
        z-index: -1;
        background: url(images/pinkpaper.jpg);
        rotate: 8deg;
        filter: drop-shadow(0 0 1em rgb(0, 0, 0));
    }

    #textScroll p {
        font-family: 'DotGothic16', sans-serif;
        color: #000;
        margin: 150px 0 369px 0;
    }

    #textScroll p:last-of-type {
        margin: 150px 0 0 0;
    }

    .flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    #decoration {
        z-index: 1;
        display:contents;
        position: relative;
    }

    #kandi1 {
        position: fixed;
        bottom: -60px;
        left: 0;
        z-index: 1;
        transform: rotate(50deg);
        filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.501));
    }

    #kandi2 {
        top: -20px;
        right: -10px;
        position: fixed;
        filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.501));
    }

    footer {
        position: fixed;
        bottom: 0;
    }
}