body {
    background: url(images/032.jpg);
    background-attachment: fixed;
    margin: 0;
    position: relative;
    min-height: 97vh;
}

h1 {
    font-family: "macula-solid", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 37px;
    color:#FFF;
    text-align: center;
    position: relative;
    z-index: 5;
}

figure {
    background-color: #FFF;
    padding: 10px;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

img {
    max-width: 360px;
}

figure .hoverPic {
    position: absolute;
    left: 10px;
    top: 10px;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 100;
}

figcaption {
    font-family: 'Zeyada', cursive;
    font-size: 18px;
    text-align: center;
}

#imgScroll {
    position: relative;
    z-index: 1;
}

main {
    padding-bottom: 8em;
}

footer {
    background: url(images/footerbg.jpg);
    background-repeat: repeat-x;
    padding: 16px;
    filter: drop-shadow(0 0 1em rgb(0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6em;
    z-index: 2;
}

.footertext {
    font-family: 'DotGothic16', sans-serif;
    color: #FFF;
    text-align: center;
}

.decoration, #textScroll {
    display: none;
}

/* DIVS FOR HOVERING*/
figure div {
    position: absolute;
    z-index: 1;
}

.landscape div {
    height: 105px;
    width: 380px; /* width of landscape images/3 */
}

.portrait div {
    height: 130px;
    width: 297px; /* width of portrait images/3 */
}

/* positioning the divs :( */
/* landscape divs */
#ts1, #m1, #z1, #f1 {
    top: 0;
    left: 0;
}

#ts2, #z2 {
    top: 105px;
    left: 0;
}

#ts3, #z3 {
    top: 210px;
    left: 0;
}

/* portrait divs */
#m2, #f2 {
    top: 130px;
    left: 0;
}

#m3, #f3 {
    top: 260px;
    left: 0;
}


@media only screen and (min-width: 800px) {
    h1 {
        font-size: 56px;
        z-index: 4;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    img {
        max-width: fit-content;
    }

    #textScroll {
        display: contents;
        display: block;
        max-width: 25%;
        height: 70%;
        position: relative;
    }

    #textScroll:before { /* Makes background rotated w/o tilting contents */
        content: "";
        position: fixed;
        width: 110%;
        height: 110%;
        top: 10%;
        left: -70%;
        z-index: -1;
        background: url(images/pinkpaper.jpg);
        rotate: 8deg;
        filter: drop-shadow(0 0 1em rgb(0, 0, 0));
        overflow: hidden;
    }

    #textScroll p {
        font-family: 'DotGothic16', sans-serif;
        color: #000;
        font-size: 20px;
        line-height: 1.6em;
        /* margin: 14vw 0 28vw 0; */
        height: 400px;
        padding-top: 3em;
    }

    #textScrollDisappear {
        position: fixed;
        width: 110%;
        height: 110%;
        top: -96%;
        left: -50%;
        background: url(images/032.jpg);
        rotate: 8deg;
        z-index: 0;
    }

    .artist {
        background-color: #8845e693;
    }

    #textScroll p:last-of-type {
        height: 210px;
    }

    .flex {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .decoration {
        display:contents;
        position: relative;
    }

    #kandi1 {
        width: 216px;
        height: 223px;
        background: url(images/kandi1.avif);
        position: fixed;
        bottom: -60px;
        left: 0;
        transform: rotate(50deg);
        filter: drop-shadow(0 0 .5em rgba(0, 0, 0, 0.806));
        z-index: 3;
    }

    #kandi2 {
        width: 291px;
        height: 260px;
        background: url(images/kandi2.avif);
        top: -20px;
        right: -10px;
        position: fixed;
        filter: drop-shadow(0 0 .5em rgba(0, 0, 0, 0.806));
        z-index: 3;
    }

    #plur {
        width: 250px;
        height: 223px;
        background: url(images/plurrrrr.avif);
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        filter: drop-shadow(0 0 .5em rgba(0, 0, 0, 0.806));
        filter: brightness(140%);
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    /* DIVS FOR HOVERING*/
    figure div {
        position: absolute;
    }

    .landscape div {
        width: 512px; /* width of landscape images/3 */
        height: 140px;
    }

    .portrait div {
        width: 297px; /* width of portrait images/3 */
    }

    /* positioning the divs :( */
    #ts1, #m1, #z1, #f1 {
        top: 0;
        left: 0;
    }

    #ts2, #m2, #z2, #f2 {
        top: 140px;
        left: 0;
    }

    #ts3, #m3, #z3, #f3 {
        top: 280px;
        left: 0;
    }
}