html {
    scroll-behavior: smooth;
}

body {
    max-width: 750px;
    margin: auto;
    padding: 20px;
    background-color: #BDC696;
    animation: animation1 2s ease-in-out 1 alternate;
}

.frog {
    max-height: 200px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.frog:hover {
    animation: anijump .5s ease-out infinite alternate;
}

@keyframes anijump {
    from {transform: translateY(0px)}
    to {transform: translateY(-20px)}
}

h1 {
    font-family: 'Borel', cursive;
    text-align: center;
    color: #5D2E46;
    margin-top: 50px;
}

h2 {
    font-family: 'DotGothic16', sans-serif;
    color: #5D2E46;
    margin-top: 0;
}

.flex {
    display: flex;
}

main {
    max-width: 800px;
    margin: auto;
    background-color: #D1D3C4;
    padding: 20px;
    margin: 20px;
}

main h2 {
    font-family: 'Borel', cursive;
    color: #5D2E46;
    margin-bottom: 0;
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: #5D2E46;
    margin-top: 0;
}

img {
    display: block;
    margin: auto;
    margin-top: 16px;
}

footer {
    text-align: center;
    margin-top: 2em;
}

footer a {
    font-family: 'DotGothic16', sans-serif;
    color: #5D2E46;
}