html {
    scroll-behavior: smooth;
}
.vis {
    display: auto;
}
.invis {
    display: none;
}
.fullscreenonly{
    display: none;
}

body {
    background: url(images/woodgrain.jpg);
    /* background-color: #2D232E; */
    padding: 16px;
    padding-top: 0;
}
header, section {
    background: url(images/paperbg.jpg);
    /* background-color: #D9D9D9; */
    max-width: 90vw;
    margin: auto;
    margin-top: 2em;
    padding: 16px;
    --mask: /* MAKES THE TOP & BOTTOM SPIKY LIKE NEWSPAPER */
    conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/12.00px 51% repeat-x,
    conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/12.00px 51% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
h1, h2, h3, p, label {
    color: #464448;
}
h2, p, label, button, a, input[type=submit] {
    font-family: 'Ubuntu Mono', monospace;
}
h1, h2, p {
    text-align: center;
    padding: .3em;
    margin: 8px;
}
h3, h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 30px;
    text-align: center;
    border-bottom: solid 4px #464448;
}
p {
    line-height: 1.3em;
    text-align: center;
}
.title, .fancyP, .newspaper {
    font-family: 'Unna', serif;
    margin: 0;
    padding: 0;
}
.title {
    font-size: 28px;
}
.fancyP {
    margin: 8px;
    font-size: 20px;
}
.left {
    text-align: left;
}

form section div {
    display: block;
    margin: auto;
    display: flex;
    justify-content:space-between;
    width: 75vw;
    max-width: 450px;
    padding-bottom: 8px;
}
form section div:last-of-type {
    margin-bottom: 16px;
}

button, input[type=submit] {
    background-color: #2d232eac;
    color: #D9D9D9;
    border: none;
    padding: 4px;
    font-size: 16px;
    display: block;
    margin: auto;
}

button {
    color: #D9D9D9;
    text-decoration: none;
}

button:hover, input[type=submit]:hover {
    background-color: #2D232E;
}
button:last-of-type,  input[type=submit]{
    margin-bottom: 16px;
}
input[type=text] {
    background-color: #D9D9D9;
    border: solid 2px #2D232E;
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
}

#bar, #sideenews {
    display: none;
}

#form1, #form3, #form2, header {
    position: relative;
}
#coffeestain3 {
    height: 195px;
    width: 200px;
    position: absolute;
    left: -100px;
    top: -100px;
    background: url(images/coffeestain1.png);
}
#coffeestain4 {
    height: 195px;
    width: 200px;
    position: absolute;
    left: -80px;
    bottom: -130px;
    background: url(images/coffeestain1.png);
}
#coffeestain5 {
    height: 185px;
    width: 200px;
    position: absolute;
    left: -80px;
    top: -120px;
    background: url(images/coffeestain1.png);
    transform: rotate(77deg)
}
#coffeestain6 {
    height: 195px;
    width: 200px;
    position: absolute;
    right: -40px;
    bottom: -150px;
    background: url(images/coffeestain1.png);
    transform: rotate(90deg)
}
#coffeestain7 {
    height: 185px;
    width: 200px;
    position: absolute;
    right: -40px;
    top: -95px;
    background: url(images/coffeestain1.png);
    transform: rotate(52deg)
}
#coffeestain1 {
    height: 185px;
    width: 200px;
    position: absolute;
    right: -100px;
    top: -50px;
    background: url(images/coffeestain1.png);
}
#coffeestain2 {
    height: 185px;
    width: 200px;
    position: absolute;
    left: 5px;
    background: url(images/coffeestain1.png);
}

@media only screen and (min-width: 500px){
    h3, h1 {
        font-size: 40px;
        border-bottom: solid 4px #464448;
        margin-bottom: 8px;
    }
    .newspaper{
        column-count: 2;
        column-gap: normal;
        margin-bottom: 16px;
        margin: 16px;
    }
    #form1, #form3 {
        position: relative;
    }
    #coffeestain1 {
        height: 185px;
        width: 200px;
        position: absolute;
        right: -60px;
        top: -50px;
        background: url(images/coffeestain1.png);
    }
    #coffeestain2 {
        height: 185px;
        width: 200px;
        position: absolute;
        left: 5px;
        background: url(images/coffeestain1.png);
    }
}

@media only screen and (min-width: 743px) {
    body {
        max-width: 700px;
        margin: auto;
    }

    div {
        max-width: 450px;
    }

    h3, h1 {
        font-size: 55px;
        border-bottom: solid 4px #464448;
        margin-bottom: 8px;
    }

    .title {
        text-align: left;
        font-size: 36px;
        margin-left: 16px;
    }

    .fancyP{
        margin-left: 16px;
    }

    .newspaper{
        column-count: 2;
        column-gap: normal;
        margin-bottom: 16px;
        margin: 16px;
    }

    #form1, #form3 {
        position: relative;
    }
    #coffeestain1 {
        height: 185px;
        width: 200px;
        position: absolute;
        right: -50px;
        top: -30px;
        background: url(images/coffeestain1.png);
    }

    #coffeestain2 {
        height: 185px;
        width: 200px;
        position: absolute;
        left: 5px;
        background: url(images/coffeestain1.png);
    }

    #bar, #sideenews {
        display: block;
    }
    #bar {
        background-color: #464448;
        width: 4px;
        height: 520px;
        margin-right: 16px;
    }

    #newsnewsnews {
        display: flex;
        justify-content: space-around;
        min-width: 670px;
    }
    .sidenews {
        font-family: 'Unna', serif;
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: left;
        color: #464448;
        padding-bottom: 8px;
    }
    .sidenews:last-of-type {
        padding-bottom: 0;
    }
    #sideenews{
        width: 180px;
    }
    h4 {
        font-family: 'Unna', serif;
        color: #464448;
        margin: 0;
        padding: 0;
        padding-bottom: 4px;
    }

}