html {
    scroll-behavior: smooth;
}
.vis {
    display: auto;
}
.invis {
    display: none;
}
.fullscreenonly{
    display: none;
}

body {
    background: url(images/woodgrain.jpg);
    /* background-color: #2D232E; */
    padding: 16px;
    padding-top: 0;
}
header, section {
    background: url(images/paperbg.jpg);
    /* background-color: #D9D9D9; */
    max-width: 90vw;
    margin: auto;
    margin-top: 2em;
    padding: 16px;
    --mask: /* MAKES THE TOP & BOTTOM SPIKY LIKE NEWSPAPER */
    conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/12.00px 51% repeat-x,
    conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/12.00px 51% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
h1, h2, h3, p, label {
    color: #464448;
}
h1, h2, p, label, button, input[type=submit] {
    font-family: 'Ubuntu Mono', monospace;
}
h1, h2, p {
    text-align: center;
    padding: .3em;
    margin: 8px;
}
h3 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 30px;
    text-align: center;
}
p {
    line-height: 1.3em;
    text-align: center;
}
.title, .fancyP, .newspaper {
    font-family: 'Unna', serif;
    margin: 0;
    padding: 0;
}
.title {
    font-size: 28px;
}
.fancyP {
    margin: 8px;
    font-size: 20px;
}
.left {
    text-align: left;
}

div {
    display: block;
    margin: auto;
    display: flex;
    justify-content:space-between;
    width: 75vw;
    max-width: 450px;
    padding-bottom: 8px;
}
div:last-of-type {
    margin-bottom: 16px;
}

button, input[type=submit] {
    background-color: #2d232eac;
    color: #D9D9D9;
    border: none;
    padding: 4px;
    font-size: 16px;
    display: block;
    margin: auto;
}

button a {
    color: #D9D9D9;
    text-decoration: none;
}

button:hover, input[type=submit]:hover {
    background-color: #2D232E;
}
button:last-of-type, input[type=submit]{
    margin-bottom: 16px;
}
input[type=text] {
    background-color: #D9D9D9;
    border: solid 2px #2D232E;
    padding: 5px;
    font-family: 'Ubuntu Mono', monospace;
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 700px;
        margin: auto;
    }

    div {
        max-width: 450px;
    }

    h3 {
        font-size: 55px;
        border-bottom: solid 4px #464448;
        margin-bottom: 8px;
    }

    .title {
        text-align: left;
        font-size: 36px;
        margin-left: 16px;
    }

    .fancyP{
        margin-left: 16px;
    }

    .newspaper{
        column-count: 2;
        column-gap: normal;
        margin-bottom: 16px;
        margin: 16px;
    }

    #form1, #form3 {
        position: relative;
    }
    #coffeestain1 {
        height: 185px;
        width: 200px;
        position: absolute;
        right: -50px;
        top: -30px;
        background: url(images/coffeestain1.png);
    }

    #coffeestain2 {
        height: 185px;
        width: 200px;
        position: absolute;
        left: 5px;
        background: url(images/coffeestain1.png);
    }

}