html {
    scroll-behavior: smooth;
}

body {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #BDC696;
    animation: animation1 2s ease-in-out 1 alternate;
}

.frog {
    max-height: 200px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.frog:hover {
    animation: anijump .5s ease-out infinite alternate;
}

article img {
    display: block;
    margin: auto;;
}

@keyframes anijump {
    from {transform: translateY(0px)}
    to {transform: translateY(-20px)}
}

h1 {
    font-family: 'Borel', cursive;
    text-align: center;
    color: #5D2E46;
    margin-top: 50px;
}

header h2 {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    color: #5D2E46;
    margin-top: 0;
}

.flex {
    display: flex;
}

nav {
    background-color: #D1D3C4;
    padding: 20px;
    transform: translateY(20px);
    height: fit-content;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    text-align: right;
    font-family: 'DotGothic16', sans-serif;
    color: #5D2E46;
}

article {
    max-width: 800px;
    margin: auto;
    background-color: #D1D3C4;
    padding: 20px;
    margin: 20px;
}

article h2 {
    font-family: 'Borel', cursive;
    color: #5D2E46;
    margin-bottom: 0;
}

article p {
    font-family: 'DotGothic16', sans-serif;
    color: #5D2E46;
}

footer {
    text-align: center;
    margin-top: 2em;
}

footer a {
    font-family: 'DotGothic16', sans-serif;
    color: #5D2E46;
    text-decoration: none;
}